@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

:root {
  --primary-color-main: #a5d6a7;
  --primary-color-light: #d7ffd9;
  --primary-color-dark: #75a478;
  --secondary-color-main: #e0f2f1;
  --secondary-color-light: #ffffff;
  --secondary-color-dark: #aebfbe;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  width: 1200px;
  background: linear-gradient(
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  height: 100vh;
}
/* Navigation */
.navcontainer {
  text-align: center;
}

.navcontainer__heading {
  margin: 1rem;
  font-weight: 300;
  font-size: 3rem;
  color: var(--secondary-color-dark);
}

.navcontainer__divider {
  border: 1px solid var(--secondary-color-dark);
  margin-top: 1rem;
}
.navcontainer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navcontainer__ul li {
  margin: 0.5rem 1rem;
}

.navcontainer__ul li a {
  text-decoration: none;
  color: var(--secondary-color-dark);
}

.navcontainer__ul li a:hover {
  color: var(--primary-color-main);
  font-size: 2rem;
  transform: 0.2s all;
}
